<template>
  <div id="app">
    <Users />
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
  <!-- <div v-for="item in departments" :key="item.id">
    <div>{{item.title}}</div>
  </div> -->
  </div>
</template>

<script>

// import HelloWorld from './components/HelloWorld.vue'
import Users from './components/Users.vue'

export default {
  name: 'app',
  components: {
    // HelloWorld
    Users
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
