<template>

     <div>
    <b-button-group>
      <b-button v-b-modal.modal-1>Add</b-button>
      <b-button>Edit</b-button>
      <b-button>Delete</b-button>
    </b-button-group>


    <b-modal id="modal-1" title="BootstrapVue">
      <div class="b-alert-danger">{{error}}</div>
     <b-form-input class="form-control" v-model="username" /> 
        <b-form-select v-model="departmentId" :options="options"></b-form-select>
        <button type="button" v-on:click='add' >Добавить</button>
  </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
// import selection from './Selection.vue'

export default {
    name: 'CreateUser',
    props:{
        addUser: { type: Function }
    },
  data(){
    return {
      username : '',
      departmentId : 0,
      error:null,
      options:[]
    }
  },
  mounted(){
      axios.get("http://localhost/Departments3.API/api/departments")
        .then(response => (this.options = response.data));
  },
  methods: {
      add: function(){

          this.addUser(this.username,this.departmentId);
          //var url = "http://localhost/Users3.API/api/test";
// var config = {
//     body:{'username':this.username,'depId':this.departmentId}
// }
       // axios.post(url,{Name:this.username,DepartmentId:this.departmentId}).then(e=>{this.error = e;});
      },
      getUser : function(){
          var url1 =  "http://localhost/Users3.API/api/test/PostUser";

            axios.post(url1,{params:{id:1,Name:this.username,DepartmentId:this.departmentId}}).then(e=>this.error =e);
      }
  }
}
</script>