<template>
  <div class="hello">
    <Users :data="gridData" :columns="gridColumns"/>
    <!-- <div v-for="item in gridData" :key="item" >
        <div>{{item.name}}</div>
        <div>{{item.location}}</div>
    </div> -->
  </div>
</template>

<script>
import Users from './Users.vue'

export default {
  name: 'HelloWorld',
  components:{
    Users
  },
  props: {
    msg: String
  },
  data() {
      return {
        gridData: [
          {id:1, name: 'American alligator', location: 'Southeast United States' },
          {id:2, name: 'Chinese alligator', location: 'Eastern China' },
          {id:3, name: 'Spectacled caiman', location: 'Central & South America' },
          {id:4, name: 'Broad-snouted caiman', location: 'South America' },
          {id:5, name: 'Jacaré caiman', location: 'South America' },
          {id:6, name: 'Black caiman', location: 'South America' },
        ],
        gridColumns: [{id:1,name:'name'},{id:2,name:'location'}]     
      }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
