<template>
        <select class="selectpicker" v-model='departmentId'>
            <option v-for='item in items' :key='item'>{{item.title}}</option>
        </select>
</template>

<script>
export default {
    name:'select',
    props: {
        items:Array
    },
    data(){
        return {
        selected : "Не выбрано"
        }
    }
}


</script>

<style scoped>
    select {
        min-width: 60px;
    }
</style>