<template>


  <div class="users">
   <div class="wrapper">
     <div class="b-alert-danger">{{error}}</div>
    <CreateUser :addUser="addUser"/>
   </div>
    Таблица с пользователями
    <div>
      
    </div>
    <div class="wrapper">
        <b-table hover :items="data"></b-table>
    </div>

  </div>

</template>

<script>
import axios from 'axios'
import CreateUser from './CreateUser.vue'
//import axios from 'axios'

export default {
  name: 'Users',
  components : {
    CreateUser
  },
  data(){
    return {
      isBusy:false,
      searchQuery: '',
      sortKey: '',
      sortOrders: {},
      users:[],
      data:[],
      error:'',
      departments:[]
    }
  },
  mounted(){
    this.getUsers();
    //this.geteDepartments();
  },
  methods: {
   
    addUser: function(username,departmentId){

      if(username != null && departmentId != null){
        var url = "http://localhost/Users3.API/api/test";

        axios.post(url,{Name:username,DepartmentId:departmentId}).then(()=>{this.getUsers();});

        
      } else {
        this.error = 'Не указали данные для добавления пользователя.';
      }
        
      },
    getUsers:function(){
      axios.get("http://localhost/Users3.API/api/users")
      .then(
        response => 
        {
          this.data = response.data; 
          this.geteDepartments(); 
          
          let arr = this.data.map((item,i) => Object.assign({},item,this.deps[i]));

          this.data = arr;
        });
    },
    geteDepartments:function(){
      axios.get("http://localhost/Departments3.API/api/departments").then(resp=> (this.deps = resp.data));
    }
  }
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body{
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #555;
}

b-button {
  margin: 10px 10px;
}



/* th {
  background-color: #008f68;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  border-bottom: 1px #008f68 solid;
}

th, td {
  min-width: 150px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #FAE042;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #FAE042;
}

#grid-template {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 600px;
}

.wrapper{
  height: 300px;
}

#grid-template > .table-body-wrapper {
  width: 100%;
  overflow-y: scroll;
}

#grid-template {
  height: 100%;
}

#grid-template > .table-body-wrapper {
  flex: 1;
} */

</style>
